<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Scan a barcode</h1>
        <script type="text/javascript">

        </script>
  </div>  

    <div data-role="content">
      <div id="divCountTotal">
       <a href="/app/Inventory/index" data-role="button" id="numberScanned">0 Items Scanned</a></li>

      </div>
      <div id="divImageInventory" style="text-align:center" margin-top="10px">
            <img id="iImage" src="/public/images/barcode.jpg" style="max-width:320px"/>
      </div>
      <div id="barcode" style="font-size:1.2em">
      </div>
      <div id="productName" style="font-size:1.7em;">
            READY TO SCAN
      </div>
      <div id="count" style="text-align:center;font-size:4em">
      </div>
  </div>
</div>